@import "reset.css";

.hide {
  display: none !important;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: Helvetica, arial, sans-serif;
  color: white;
}

*,
*::before,
*::after {
  /* stylelint-disable-line */
  box-sizing: inherit;
}

body {
  background: #1a1a1a;
  font-family: Helvetica;
}

header {
  width: 80vw;
  margin: 2rem auto;
}

.bg {
  margin-top: 3vh;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item-logo {
  width: 20rem;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.logo {
  font-family: helvetica;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -1.5rem;
  font-size: 6rem;
  color: white;
}

.nav-item-about {
  font-family: helvetica;
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 3rem;
  opacity: 0.5;
}

.nav-item-about:hover {
  animation: about 0.5s ease-in-out alternate both;
}

.intro {
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro-title {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2.5vw;
  color: #39f;
  width: 70vw;
  line-height: 4vw;
}

.intro-name {
  color: white;
}

.intro-status {
  font-size: 1.5rem;
  font-family: Helvetica;
  color: black;
}

main {
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.items {
  margin-top: 5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  animation: slide-bottom 0.5s ease-out both;
}

.item-title {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 3vw;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: -1;
  height: 35vh;
  width: 25vw;
  padding: 5rem;
}

.item-tags {
  font-size: 1vw;
  color: #fff;
  opacity: 0.7;
}

.item-img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 35rem;
  box-shadow: 0 0 2rem -0.4rem rgba(0, 0, 0, 0.4);
}

.item:hover {
  cursor: pointer;
  animation: select 0.5s alternate cubic-bezier(0.39, 0.57, 0.56, 1) both;
}

.item:hover .item-img {
  cursor: pointer;
  animation: filter 0.5s alternate cubic-bezier(0.39, 0.57, 0.56, 1) both;
}

.item:hover .item-title {
  cursor: pointer;
  animation: show-text 0.5s alternate cubic-bezier(0.39, 0.57, 0.56, 1) both;
}

.about {
  display: flex;
  justify-content: space-between;
  margin: 20vh;
  color: white;
  width: 80vw;
}

.about-img {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
  background: #39f;
}

.about-content {
  width: 45vw;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-around;
}

.about-qoute {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2vw;
  color: #39f;
  animation: colortext infinite 10s ease-in-out alternate both;
  width: 40vw;
  line-height: 2vw;
}

.about-title {
  font-weight: bold;
  font-size: 2rem;
  font-family: Helvetica;
  text-transform: uppercase;
}

.about-text {
  font-family: Helvetica;
  font-size: 1vw;
  line-height: 3vh;
}

.about-text a {
  color: #39f;
  font-size: 1vw;
  text-decoration: none;
}

.social-links {
  display: flex;
  flex-direction: row;
  margin: 1vh 0;
}

.link {
  width: 5rem;
  height: 5rem;
  text-decoration: none;
  fill: #444;
}

.link:hover {
  animation: link 0.3s ease-in-out alternate both;
}

.back-button {
  font-family: Helvetica;
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
}

.back-button:hover {
  text-decoration: underline;
}

.visuals {
  margin: 8rem 0;
}

.visual-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.visual-item {
  width: 35vw;
  height: 60vh;
}

.visual-img {
  width: 35vw;
  height: 60vh;
  object-fit: contain;
}

.case-video {
  width: 80vw;
}

.dp-top {
  margin-top: 6vh;
}

.dp-name {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Helvetica;
}

.dp-top-first {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.dp-top-first div {
  display: flex;
  align-items: baseline;
}

.dp-date {
  font-size: 1vw;
}

.dp-tags {
  font-size: 1.3vw;
}

.dp-top-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 0;
}

.dp-short-desc {
  font-size: 1.5vw;
  color: #777;
  width: 50vw;
}

.dp-url {
  font-size: 1vw;
  color: #000;
  padding: 0.5vw 1vw;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.dp-url:hover {
  background: white;
}

.dp-image {
  width: 80vw;
  height: 50vh;
  object-fit: cover;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
}

.dp-main {
  margin: 5vh 0;
  display: flex;
  justify-content: space-between;
  width: 80vw;
}

.dp-title {
  color: #777;
  text-transform: uppercase;
  font-size: 2vw;
  font-weight: bold;
}

.dp-text {
  margin: 2vh 0;
  font-size: 1.2vw;
  line-height: 1.5vw;
  width: 33vw;
}

.dp-visuals-list {
  margin: 2vh 0;
  width: 40vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 210vw));
  grid-gap: 1vw;
}

.dp-visuals img {
  min-width: 20vw;
  max-width: 40vw;
  object-fit: cover;
}

.dp-video {
  width: 80vw;
  margin: 2vh 0;
}

.footer-text {
  text-align: center;
  width: 100vh;
  margin: 3vh auto;
  color: #444;
  font-size: 0.8vw;
}

.color {
  animation: colortext infinite 10s ease-in-out alternate both;
}

/* ANIMATIONS  */

@keyframes colortext {
  0% {
    color: #39f;
  }

  20% {
    color: rgb(255, 35, 35);
  }

  40% {
    color: rgb(253, 239, 43);
  }

  60% {
    color: rgb(43, 253, 78);
  }

  80% {
    color: rgb(113, 64, 249);
  }

  100% {
    color: rgb(249, 64, 141);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes filter {
  0% {
    filter: brightness(1);
  }

  100% {
    filter: brightness(0.3);
  }
}

@keyframes select {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

@keyframes show-text {
  0% {
    z-index: -1;
  }

  100% {
    z-index: 3;
  }
}

@keyframes about {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-7rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes link {
  0% {
    fill: white;
  }

  100% {
    fill: rgb(64, 157, 249);
  }
}

@keyframes online {
  0% {
    background: #39f;
    color: white;
  }

  100% {
    background: black;
    color: white;
  }
}

@media only screen and (max-width: 900px) {
  .about {
    display: flex;
  }

  .about-img {
    height: 50vw;
  }

  .intro-title {
    width: 80vw;
    font-size: 4vw;
    line-height: 5vw;
  }

  .item-title {
    width: 40vw;
    height: 40vh;
    font-size: 5vw;
  }

  .item-tags {
    font-size: 2vw;
  }

  .items {
    grid-template-columns: repeat(2, 1fr);
  }

  .dp-name {
    font-size: 6vw;
  }

  .dp-url {
    font-size: 2vw;
  }

  .dp-tags,
  .dp-date,
  .dp-short-desc {
    font-size: 2vw;
  }

  .dp-title {
    font-size: 3vw;
  }

  .dp-text {
    font-size: 2vw;
    line-height: 2.5vh;
    width: 80vw;
  }

  .dp-main {
    flex-direction: column;
  }

  .dp-visuals img {
    min-width: 35vw;
    max-width: 80vw;
  }

  .dp-visuals-list {
    width: 80vw;
  }

  .footer-text {
    font-size: 1.5vw;
    width: 80vw;
  }
}

@media only screen and (max-width: 650px) {
  .intro-title {
    width: 80vw;
    font-size: 5vw;
    line-height: 5vw;
  }

  .item-title {
    width: 80vw;
    height: 40vh;
    font-size: 10vw;
    justify-content: center;
  }

  .about {
    flex-direction: column-reverse;
    width: 80vw;
  }

  .about-content {
    padding: 0;
  }

  .about-qoute {
    width: 80vw;
    font-size: 4vw;
    line-height: 5vw;
  }

  .about-text {
    width: 80vw;
  }

  .about-img {
    width: 80vw;
    height: 80vw;
  }

  .items {
    grid-template-columns: 1fr;
  }

  .item:hover {
    animation: none;
  }

  .back-button {
    width: 90vw;
    margin: 0 auto;
  }

  main {
    width: 80vw;
  }

  .item-tags {
    font-size: 3vw;
  }

  .dp-name {
    font-size: 5vw;
  }

  .dp-short-desc {
    font-size: 3vw;
  }

  .dp-image {
    height: 30vh;
  }

  .footer-text {
    font-size: 2vw;
  }
}
