@import 'reset';
@import 'vars';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

.hide {
  display: none;
}

body {
  background-color: var(--grey);
}

header {
  width: 96rem;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;

  & .nav-list {
    display: flex;
    height: 11rem;
    justify-content: space-evenly;
    align-items: center;

  }
}

.nav-item a {
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  text-decoration: none;
  font-size: 2.5rem;
  height: 5rem;
  padding: 1rem;
  margin: 0 1rem;
}

.nav-item {
  padding: 1rem;
  border-bottom: solid transparent .5rem;
}

.nav-item:hover {
  padding: 1rem;
  border-bottom: solid var(--red) .5rem;
}

.nav-logo {
  width: 5vw;
  height: 5vw;
  margin: 2rem 0;
  /* transition: width 1s, height 1s, opacity; */
  object-position: center;
  opacity: 1;
}

/* .nav-logo:hover {
  width: 7vw;
  height: 7vw;
  opacity: 1;
} */

.active {
  border-bottom: solid var(--red) .5rem;
  padding: 1rem;
  background: var(--almost-black);
}

main {
  width: 96rem;
  margin: 2rem auto;
}

.work-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 30rem 30rem 30rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.work-item {
  background: white;
}
