@import 'reset';
@import 'vars';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: Vollkorn, serif;
  line-height: 1.3;
  font-weight: var(--weight-regular);
  color: var(--text-color);
}

strong {
  font-weight: var(--weight-bold);
  background-color: var(--main-color-light);
}

h1 {
  font-size: 8.8vw;
  font-weight: var(--weight-bold);
  background-color: var(--main-color);
  padding: 1rem;
  text-align: center;
}

h2 {
  background-color: var(--main-color);
  font-weight: var(--weight-bold);
  font-size: 3rem;
  margin: 1rem 0;
}

h3 {
  font-size: 2.5rem;
  font-weight: var(--weight-bold);
  margin: 1rem 0;
  border-bottom: .2rem solid var(--main-color);
  text-transform: capitalize;
}

h4 {
  font-size: 2.2rem;
  font-weight: var(--weight-bold);
  margin: 1rem 0;
  border-bottom: .2rem solid var(--main-color);
  text-transform: capitalize;
}

.hide {
  display: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  display: block;
  height: auto;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1.6rem;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: .37rem .75rem;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: white;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid var(--gray-light-color);
  border-radius: .25rem;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:focus {
    background-color: white;
    border-color: var(--main-color-light);
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  color: var(--text-color);
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: .37rem .75rem;
  font-size: 1.6rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out;

  &:hover {
    text-decoration: none;
    color: var(--text-color);
    background-color: color(var(--main-color) shade(10%));
    border-color: color(var(--main-color) shade(10%));
  }
}

main {
  padding: 0 1rem;
}

.menu-list {
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-around;
  max-width: 96rem;
}

.menu-link {
  position: relative;
  padding: .5rem 1rem;
  border-bottom: .1rem solid var(--text-color);
  font-size: 5vw;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
    transform: scaleY(0);
    transform-origin: 0% 0%;
    transition: transform 200ms;
    will-change: transform;
  }

  &:hover {

    &::after {
      transform: scaleY(1);
    }
  }
}

.zeges {
  background-color: var(--main-color-light);
  padding: 1rem 2rem;
}

p {
  margin-bottom: 2rem;

  & img {
    margin: 1em 0;
    width: 100%;
  }
}

.palmares {

  & ul {
    list-style: circle;
  }

  & li {
    margin-left: 3rem;
  }
}

.belgium {
  color: transparent;
  -webkit-background-clip: text; /* stylelint-disable-line */
  background-image: linear-gradient(90deg, black 33.3%, #fe0 33.3%, #fe0 66.6%, red 66.6%);
}

.form-message {

  input[type='email'] {
    border-color: pink;
  }

  & .btn {
    display: block;
    width: 100%;
  }
}

footer {
  font-size: 2rem;
  margin-top: 3vh;
  height: 10vh;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen  and (min-width: 40rem) {

  .menu-link {
    font-size: 2rem;
  }
}

@media only screen  and (min-width: 50rem) {

  .main-article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    grid-template-areas:
      'title title'
      'intro img'
      'carriere carriere'
      'vervolg vervolg'
      'outro outro'
      'zeges zeges'
      'palmares palmares';
  }

  .article-title {
    grid-area: title;
  }

  .intro {
    grid-area: intro;
  }

  .freddy {
    width: 100%;
    grid-area: img;
    margin: 0;
  }

  .carriere {
    grid-area: carriere;
  }

  .vervolg {
    grid-area: vervolg;
  }

  .outro {
    grid-area: outro;
  }

  .zeges {
    grid-area: zeges;
  }

  .palmares {
    grid-area: palmares;
  }

}

@media only screen  and (min-width: 70rem) {

  .main-article {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 1rem;
    grid-template-areas:
      'title title'
      'img intro'
      'img carriere'
      '. vervolg'
      'zeges outro '
      '. palmares';
  }

  h1 {
    font-size: 7rem;
  }
}

@media only screen  and (min-width: 90rem) {

  .main-article {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 1rem;
    grid-template-areas:
      '. title title '
      'img intro intro'
      'img carriere carriere'
      '. vervolg vervolg'
      'outro outro zeges'
      '. palmares palmares';
  }

  .freddy {
    justify-self: end;
    margin-right: 2rem;
  }
}

@media only screen  and (min-width: 96rem) {

  .main-article {
    max-width: 96rem;
    margin: 0 auto;
  }

  .menu-list {
    margin-left: auto;
    margin-right: auto;
  }
}
