@import 'reset.css';

.hide {
  display: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: Helvetica, arial, sans-serif;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

body {
  /* background: #1a1a1a; */
  background: white;
  font-family: Helvetica;
}

header {
  width: 80vw;
  margin: 2rem auto;
}

.bg {
  margin-top: 10rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item-logo {
  width: 20rem;
  animation: slide-in-right .5s cubic-bezier(.25, .46, .45, .94) both;
}

.logo {
  font-family: helvetica;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -1.5rem;
  font-size: 6rem;
  color: black;
}

.nav-item-about {
  font-family: helvetica;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 3rem;
  opacity: .5;
}

.nav-item-about:hover {
  animation: about .5s ease-in-out alternate both;
}

.intro {
  margin: 2rem auto;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro-title {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2.7vw;
  color: #39f;
  width: 70vw;
  line-height: 4vw;
}

.intro-name {
  color: black;
}

.intro-status {
  font-size: 1.5rem;
  font-family: Helvetica;
  color: black;
}

main {
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.items {
  margin-top: 5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  animation: slide-bottom .5s ease-out both;
}

.item-title {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 3vw;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: -1;
  height: 35vh;
  width: 25vw;
  padding: 5rem;
}

.item-img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 35rem;
  box-shadow: 0 0 2rem -.4rem rgba(0, 0, 0, .4);
}

.item:hover {
  animation: select .5s alternate cubic-bezier(.39, .57, .56, 1) both;
}

.item:hover .item-img {
  animation: filter .5s alternate cubic-bezier(.39, .57, .56, 1) both;
}

.item:hover .item-title {
  animation: show-text .5s alternate cubic-bezier(.39, .57, .56, 1) both;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about-img {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
  background: #39f;
}

.about-content {
  width: 60vw;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-around;
}

.about-qoute {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2vw;
  color: #39f;
  width: 40vw;
  line-height: 2vw;
}

.about-title {
  font-weight: bold;
  font-size: 2rem;
  font-family: Helvetica;
}

.about-text {
  font-family: Helvetica;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.social-links {
  display: flex;
  flex-direction: row;
}

.link {
  width: 5rem;
  height: 5rem;
  text-decoration: none;
}

.link:hover {
  animation: link .3s ease-in-out alternate both;
}

.back-button {
  font-family: Helvetica;
  color: black;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
}

.back-button:hover {
  text-decoration: underline;
}

.mobility {
  background: url(../assets/thumbnails/mobi.png), linear-gradient(90deg, white 20%, rgba(255, 255, 255, .2));
}

.hotlinedevine {
  background: url(../assets/thumbnails/hotlinedevine.png), linear-gradient(90deg, white 20%, rgba(255, 255, 255, .2));
  background-size: contain;
}

.artframe {
  background: url(../assets/thumbnails/artframe.png), linear-gradient(90deg, white 20%, rgba(255, 255, 255, .2));
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.resy {
  background: url(../assets/thumbnails/resy.png), linear-gradient(90deg, white 20%, rgba(255, 255, 255, .2));
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.sixflags {
  background: url(../assets/thumbnails/sixflags.png), linear-gradient(90deg, white 20%, rgba(255, 255, 255, .2));
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.detail-header {
  height: 40vw;
  background-blend-mode: overlay;
}

.detail-header-img {
  position: absolute;
  width: 80vw;
  height: 40vw;
  object-fit: cover;
  overflow: hidden;
  background: black;
  mix-blend-mode: overlay;
}

.detail-header-content {
  padding: 3rem;
  height: 37vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5rem;
  z-index: 3;
  position: absolute;
}

.detail-header-title {
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20vw;
  color: black;
}

.detail-header-online {
  background: #39f;
  text-transform: uppercase;
  font-family: Helvetica;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 1vw;
  width: 16vw;
  text-align: center;
  font-size: 1.5vw;
}

.detail-header-online:hover {
  animation: online .5s cubic-bezier(.07, .82, .16, 1) alternate both;
}

.detail-header-tags {
  font-size: 1.4vw;
  width: 60vw;
  line-height: 1.3;
}

.detail-text-content {
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
}

.detail {
  width: 35vw;
  margin-top: 3rem;
}

.detail-title {
  font-weight: bold;
  font-family: Helvetica;
  font-size: 2.2vw;
  text-transform: uppercase;
  margin: 1rem 0;
}

.detail-text {
  font-family: Helvetica;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* .work {
  width: 60vw;
} */

.visuals {
  margin: 8rem 0;
}

.visual-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.visual-item {
  width: 35vw;
  height: 60vh;
}

.visual-img {
  width: 35vw;
  height: 60vh;
  object-fit: contain;
}

.case-video {
  width: 80vw;
}

/* ANIMATIONS  */

@keyframes slide-in-right {

  0% {
    transform: translateX(100rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes filter {

  0% {
    filter: brightness(1);
  }

  100% {
    filter: brightness(.4);
  }
}

@keyframes select {

  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
  }
}

@keyframes show-text {

  0% {
    z-index: -1;
  }

  100% {
    z-index: 3;
  }
}

@keyframes about {

  0% {
    opacity: .3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-bottom {

  0% {
    transform: translateY(-7rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes link {

  0% {
    fill: black;
  }

  100% {
    fill: rgb(64, 157, 249);
  }
}

@keyframes online {

  0% {
    background: #39f;
    color: white;
  }

  100% {
    background: black;
    color: white;
  }
}

@media only screen and (max-width: 900px) {

  .about {
    display: flex;
  }

  .about-img {
    height: 50vw;
  }

  .intro-title {
    width: 80vw;
    font-size: 4vw;
    line-height: 5vw;
  }

  .item-title {
    width: 40vw;
    height: 40vh;
    font-size: 5vw;
  }

  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 650px) {

  .intro-title {
    width: 80vw;
    font-size: 5vw;
    line-height: 5vw;
  }

  .item-title {
    width: 100vw;
    height: 40vh;
    font-size: 10vw;
  }

  .about {
    flex-direction: column-reverse;
    width: 80vw;
  }

  .about-content {
    padding: 0;
  }

  .about-qoute {
    width: 80vw;
    font-size: 4vw;
    line-height: 5vw;
  }

  .about-text {
    width: 80vw;
  }

  .about-img {
    width: 80vw;
    height: 80vw;
  }

  .items {
    grid-template-columns: 1fr;
  }

  .item:hover {
    animation: none;
  }

  .detail-header {
    width: 100vw;
    height: 70vw;
  }

  .detail-header-content {
    padding: 0;
    height: 70vw;
    width: 100vw;
    margin: 0 auto;
  }

  .detail-header-title {
    font-size: 7vw;
    text-align: center;
  }

  .detail-header-tags {
    margin: 0 auto;
    text-align: center;
    width: 90vw;
    font-size: 4vw;
  }

  .detail-header-online {
    margin: 0 auto;
    font-size: 5vw;
    width: 50vw;
    padding: 1rem;
  }

  .back-button {
    width: 90vw;
    margin: 0 auto;
  }

  main {
    width: 100vw;
  }

  .mobility {
    background: url(../assets/thumbnails/mobi.png), linear-gradient(360deg, white 10%, rgba(255, 255, 255, .2));
    background-size: contain;
  }

  .hotlinedevine {
    background: url(../assets/thumbnails/hotlinedevine.png), linear-gradient(360deg, white 10%, rgba(255, 255, 255, .2));
    background-size: contain;
  }

  .artframe {
    background: url(../assets/thumbnails/artframe.png), linear-gradient(360deg, white 10%, rgba(255, 255, 255, .4));
    background-size: contain;
  }

  .detail-text-content {
    flex-direction: column;
  }

  .detail {
    width: 80vw;
    margin: 0 auto;
  }

  .detail-title {
    font-size: 5vw;
  }

  .visuals {
    width: 80vw;
    margin: 0 auto;
  }

  .visual-list {
    flex-direction: column;
  }

  .visual-img {
    width: 80vw;
    height: 70vw;
  }

  .visual-item {
    height: 40vh;
  }

  .case {
    width: 80vw;
    margin: 0 auto;
  }
}
